legacy-peer-deps=false
strict-peer-dependencies=true
package-lock=true
auto-install-peers=true
ignore-scripts=false
omit=optional
save-exact=true

# Force resolution
public-hoist-pattern[]="*expo-app-auth*"
prefer-workspace-packages=true
expo-app-auth@*:false